# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
env/

# Django
*.log
db.sqlite3
media/

# Node
node_modules/
frontend/dist/
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore
*.md